@using Microsoft.AspNetCore.Components.Routing
@using dsstats.shared

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">dsstats </a>
    </div>
</div> *@

<div class="sidebar-logo">
    <NavLink href="" Match="NavLinkMatch.All" class="navbar-brand">
        <img src="_content/dsstats.razorlib/images/full-logo-ds-stats-2024.png" alt="DS Stats Logo ">
        @Data.WasmVersion
    </NavLink>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="h-100 ">

            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <NavLink href="" Match="NavLinkMatch.All" class="sidebar-link nav-link">
                        <span class="bi bi-house" aria-hidden="true"></span>
                        Home
                    </NavLink>
                </li>
                <li class="sidebar-item">
                    <NavLink class="sidebar-link nav-link" href="builds">
                        <span class="bi bi-ui-radios-grid" aria-hidden="true"></span>
                        Builds
                    </NavLink>
                </li>
                <li class="sidebar-item">
                    <NavLink href="#" class="sidebar-link nav-link collapsed" data-bs-toggle="collapse"
                        data-bs-target="#stats" aria-expanded="false" aria-controls="stats">
                        <span class="bi bi-bar-chart" aria-hidden="true"></span>
                        Stats
                    </NavLink>
                    <ul id="stats" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <NavLink href="stats" class="sidebar-link nav-link">Performance Overview</NavLink>
                        </li>
                        <li class="sidebar-item">
                            <NavLink href="cmdrinfos" class="sidebar-link nav-link">Player Leaderboards</NavLink>
                        </li>
                        <li class="sidebar-item">
                            <NavLink href="dsdata" class="sidebar-link nav-link">Units</NavLink>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <NavLink href="replays" class="sidebar-link nav-link">
                        <span class="bi bi-play-circle" aria-hidden="true"></span>
                        Replays
                    </NavLink>
                </li>
                <li class="sidebar-item">
                    <NavLink href="upload" class="sidebar-link nav-link">
                        <span class="bi bi-upload" aria-hidden="true"></span>
                        Upload
                    </NavLink>
                </li>
                <li class="sidebar-item">
                    <NavLink href="tourneys" class="sidebar-link nav-link">
                        <span class="bi bi-trophy" aria-hidden="true"></span>
                        Tournaments
                    </NavLink>
                </li>
                <li class="sidebar-item">
                    <NavLink href="#" class="sidebar-link nav-link collapsed" data-bs-toggle="collapse"
                        data-bs-target="#tools" aria-expanded="false" aria-controls="tools">
                        <span class="bi bi-tools" aria-hidden="true"></span>
                        Tools
                    </NavLink>
                    <ul id="tools" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <NavLink href="tourneys/pickban" class="sidebar-link nav-link">Pickban</NavLink>
                        </li>
                        <li class="sidebar-item">
                            <NavLink href="tourneys/ih" class="sidebar-link nav-link">IH</NavLink>
                        </li>
                        <li class="sidebar-item">
                            <NavLink href="tourneys/bestmm" class="sidebar-link nav-link">Commander Synergy Picks
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <NavLink href="faq" class="sidebar-link nav-link">
                        <span class="bi bi-lightbulb" aria-hidden="true"></span>
                        Tips
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="flex-column">
        <div class="h-100 ">
            <!-- Sidebar Navigation Bottom-->
            <ul class="sidebar-nav">
                <li class="sidebar-item sidebar-item-blue">
                    <NavLink href="info" Match="NavLinkMatch.All" class="sidebar-link nav-link">
                        <span class="bi bi-info-circle" aria-hidden="true"></span>
                        About
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>
